/* google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Outfit", serif; /* font family used*/
}

/* css variables */

:root {
  --White: hsl(0, 0%, 100%);
  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
}

body {
  background-color: var(--Slate-300);
}

.wrapper {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2em;
}

/* for border-radius*/

.container img {
  border-radius: 10px;
}

.container {
  border-radius: 20px;
}

.container {
  padding: 0.9em;
  margin: 1em;
  align-self: center;
  width: clamp(250px, 320px, 350px);
  height:auto;
  background-color: var(--White);
  box-shadow: -2px 13px 19px 0px hsla(216, 15%, 48%, 0.185);
}

.container h2,
p {
  text-align: center;
}

.container h2 {
  color: var(--Slate-900);
  font-size:   clamp(15px, calc(3.4vw + 0.5rem), 22px);
  font-weight: 700;
  margin-bottom: 11px;
}

.container p {
  color: var(--Slate-500);
  font-size: clamp(5px, calc(1vw + 1rem), 15px);

}

.qr-code-img {
  overflow: hidden;
}

.qr-code-img img {
  width: 100%;
  height: auto;
}

.container-text {
  padding: 14px 19px;
  margin-bottom: 1em;
}

/* for github link*/

.github-link {
  position: absolute;
  right: 10%;
  bottom: 5%;
  float: right;
}


/* text on link */

.github-link a {
  display: block;
  font-size: clamp(10px, calc(0.4em + 3em), 30px);
  color: var(--Slate-500);
  text-decoration: none;
}

/* github icon */

.fa-github {
  margin-right: 5px;
}

/* media queries for mobile phone */

@media screen and (max-width: 375px) {

  .container {
    width: 300px;
  }

  .container-text {
    padding: 17px, 10px;
  }

  .github-link {
    position: static;
    display: flex;
    align-self: center;
    margin-top: 2.2em;
  }
}
